@import "_vars.scss";
@import "node_modules/spectre.css/src/spectre.scss";

// Override of Standard Mixin:
@mixin button-variant($color: $primary-color) {
  background-color: $color;
  text-transform: inherit;

  @if $color == $secondary-color {
    color: $primary-color;
    border: 1px solid $primary-color;
  } @else {
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }

  border-radius: 5rem;
  padding: 1rem 1.2rem;
  height: fit-content;
  // IE support:
  display: table;
  box-shadow: 7px 7px 0px 0px $gray-medium;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;

  transition: all 0.1s linear;
  transform: translateX(0px);

  &:focus,
  &:hover {
    border-color: initial;
    background-color: $color;
  }
  &:focus {
    border-style: dashed;
    box-shadow: 7px 7px 0px 0px $gray-medium;
  }
  &:hover {
    transition: all 0.1s linear;
    box-shadow: 0px 7px 0px 0px $gray-medium;
    transform: translateX(7px);
  }
  &:active,
  &.active {
    @if $color == $secondary-color {
      color: $primary-color;
    } @else {
      color: $secondary-color;
    }
    border-style: solid;
    background-color: $color;
    box-shadow: 0px 7px 0px 0px $gray-medium inset,
      0px -3px 0px 0px $gray-medium;
  }
}

a.btn.btn-primary,
button.btn.btn-primary {
  @include button-variant($primary-color);
}

a.btn.btn-secondary,
button.btn.btn-secondary {
  @include button-variant($secondary-color);
}
