@import "_vars.scss";
@import "node_modules/spectre.css/src/spectre.scss";

.btn.btn-primary {
  @include button-variant($primary-color);
}

.btn.btn-secondary {
  @include button-variant($secondary-color);
}

.btn.btn-gray {
  @include button-variant($gray);
}


// Override of Standard Mixin: 
@mixin button-outline-variant($color: $primary-color) {
  background: $light-color;
  border-color: $color;
  color: $color;
  &:focus {
    @include control-shadow($color);
  }
  &:focus,
  &:hover {
    background: $gray-light;
    border-color: darken($color, 2%);
    color: $color;
  }
  &:active,
  &.active {
    background: $gray-light;
    border-color: darken($color, 5%);
    color: $color;
  }
  &.loading {
    &::after {
      border-bottom-color: $color;
      border-left-color: $color;
    }
  }
}

.btn.btn-outline-primary {
  @include button-outline-variant($primary-color);
}

.btn.btn-outline-secondary {
  @include button-outline-variant($secondary-color);
}

.btn.btn-outline-efnyc {
  @include button-outline-variant($efnyc-blue);
}

.btn.btn-outline-gray {
  @include button-outline-variant($gray);
}

.btn.btn-outline-dark {
  @include button-outline-variant($dark);
}
