@import "_vars.scss";

.page-content {
  background-color: $primary;
  color: $secondary;

  a {
    color: $secondary;
  }
}

// No horizontal overflow on mobile
@include for-tablet-landscape-down() {
  .page-content {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.nobr {
  white-space: nowrap;
}

// Class for formatting bulleted lists from Contentful rich text elements
.rich-text-bulleted-list {
  li {
    & > p {
      display: inline;
    }
  }
}

// Site-wide styling for inline hyperlinks
p,
.Footer {
  a {
    text-decoration: underline;
    color: $secondary;
  }

  a:visited {
    color: $secondary;
  }

  a:hover {
    color: $secondary;
    text-decoration: none;
  }
}

// Modal overlay background color:

.modal:target .modal-overlay,
.modal.active .modal-overlay {
  background-color: rgba(80, 80, 80, 0.75);
}

// Additional font-color class
.text-gray-medium {
  color: $gray-medium;
}
