@import "_vars.scss";

body {
  background-color: $primary;
}

.page-content,
.Footer {
  background-color: $primary;
  color: $secondary;

  a {
    color: $secondary;
    background-color: transparent;
    text-decoration: underline;

    &.btn,
    &.column {
      text-decoration: none;
    }
  }

  a:hover,
  a:focus {
    color: $primary;
    background-color: $secondary;
  }
}

div.d-flex {
  flex-direction: column;
  div:first-child {
    flex-grow: 1;
  }
}

// No horizontal overflow on mobile
@include for-small-desktop-down() {
  .page-content {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.background-cover-photo {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.column.col-8 > .background-cover-photo {
  min-height: 350px;
}

.sticky-column {
  position: sticky;
  top: 0;
}

.sticky-column-desktop {
  @include for-small-desktop-up {
    position: sticky;
    top: 0;
  }
}

.full-height-container {
  min-height: 100vh;
  height: fit-content;
}

.full-height-container-desktop {
  @include for-small-desktop-up {
    min-height: 100vh;
    height: fit-content;
  }
}

.nobr {
  white-space: nowrap;
}

.marginless {
  margin: 0;
  p {
    margin: 0;
  }
}

// Class for formatting bulleted lists from Contentful rich text elements
.rich-text-bulleted-list {
  li {
    & > p {
      display: inline;
    }
  }
}

.columns {
  margin: 0;

  @include for-small-desktop-up {
    &.text-primary .column.col-4.col-lg-12 {
      border-right: 1px solid $primary;
    }
    &.text-secondary .column.col-4.col-lg-12 {
      border-right: 1px solid $secondary;
    }
  }

  .column {
    padding: 0.7rem 1.2rem;
  }
}

// Spectre CSS Overrides:

.bg-primary {
  color: $secondary;
}

.bg-secondary {
  color: $primary;
}
