@import "_vars.scss";

// Smaller header sizes on mobile
@include for-phone-only() {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.05rem;
  }
}

// No horizontal overflow on mobile
@include for-tablet-landscape-down() {
  .page-content {
    max-width: 100vw;
    overflow-x: hidden;
  }
}

// Responsive content margins
.hero-body {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

  @include for-small-desktop-down() {
    max-width: 80%;
  }

  @include for-tablet-landscape-down() {
    max-width: 90%;
  }

  @include for-phone-only() {
    max-width: 100%;
  }
}

// Class for formatting bulleted lists from Contentful rich text elements
.rich-text-bulleted-list {
  li {
    & > p {
      display: inline;
    }
  }
}

// Site-wide styling for inline hyperlinks
p,
.Footer {
  a {
    text-decoration: underline;
    color: $primary;
  }

  a:visited {
    color: $primary;
  }

  a:hover {
    color: $primary;
    text-decoration: none;
  }
}

// Modal overlay background color:

.modal:target .modal-overlay,
.modal.active .modal-overlay {
  background-color: rgba(80, 80, 80, 0.75);
}

// Additional font-color class
.text-gray-medium {
  color: $gray-medium;
}
