// MEASUREMENTS:

$header-height: 50px;
$footer-height: 60px;

// COLORS: 

$primary: #051171;
$secondary: #EE674F;
$accent: #EE674F;
$dark: #000;
$gray-dark: #3f3f3f;
$gray: #b1b1b1;
$gray-medium: #949494;
$gray-light: #e7e9ed;
$border: #f0f1f4;
$background: #f8f9fa;
$light: #fff;
$success: #32b643;
$warning: #ffb700;
$error: #e85600;

$efnyc-red: #980048;
$efnyc-blue: #031e40;

$carto-background: #F2F6F9;

$primary-color: $primary;
$primary-color-dark: darken($primary-color, 3%);
$primary-color-light: lighten($primary-color, 3%);
$secondary-color: $secondary;
$secondary-color-dark: darken($secondary-color, 3%);
$secondary-color-light: lighten($secondary-color, 3%);
$accent-color: $accent;
$accent-color-dark: darken($accent-color, 3%);
$accent-color-light: lighten($accent-color, 3%);

$link-color: $primary-color;
$link-color-dark: darken($link-color, 10%);

// FONTS:

$body-font: Roboto, "Helvetica Neue", sans-serif;
$title-font: Work Sans, National, sans-serif;

// SIZE RANGES:

@mixin for-small-phone-only {
  @media (max-width: 400px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 600px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 840px) { @content; }
}
@mixin for-small-desktop-down {
  @media (max-width: 960px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 601px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 841px) { @content; }
}
@mixin for-small-desktop-up {
  @media (min-width: 961px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1280px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin for-carto-map-minimized {
  @media (max-width: 775px) { @content; }
}

// HELPERS: 

@mixin lhCrop($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}
// Source: https://medium.com/codyhouse/line-height-crop-a-simple-css-formula-to-remove-top-space-from-your-text-9c3de06d7c6f
