@import "_vars.scss";

// PAGE CSS:

.list-page {
  section {
    border-bottom: 1px solid $secondary;

    &.evictor-profile {
      .columns:first-child {
        min-height: 100vh;
      }
      .column.col-8 {
        padding: 1.25rem;
      }
      .rank {
        margin-top: 1rem;
        font-size: 1.8rem;
      }
      .background-cover-photo {
        position: relative;
        height: 0;
        padding: 0 0 100% 0;
      }
      h1 {
        margin-bottom: 0.4rem;
      }
      h3 {
        font-size: 1.2rem;
        line-height: 1.44rem;
        letter-spacing: 0.01rem;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0.8rem;
      }
      .btn {
        width: 100%;
        max-width: 325px;
        margin-bottom: 1.35rem;
        @include for-tablet-landscape-down {
          max-width: calc(100% - 85px);
        }
      }
    }
  }
}
