@import "_vars.scss";

.navbar {
  height: 50px;
  padding-right: 20px;

  .btn.btn-link, .btn.btn-link:hover {
  	color: $dark;
  }

  .text-small {
  	font-size: 0.8em;
  }

  .btn.btn-link.active {
  	color: $gray-dark;
  	font-weight: 600;
  }
  
}