@import "_vars.scss";

.navbar {
  top: 0px;
  height: $header-height;
  padding-right: 20px;
  background-color: $light;
  width: 100%;
  z-index: 1000;

  .btn.btn-link, .btn.btn-link:hover {
  	color: $dark;
  }

  .text-small {
  	font-size: 0.8em;
  }

  .btn.btn-link.active {
    background-color: $light;
  	color: $gray-dark;
  	font-weight: 600;

    &.dropdown-toggle {
      background-color: $gray-light;
    }
  } 

  .btn.btn-link:hover, .btn.btn-link:focus{
    background-color: $gray-light;
    color: $gray-dark;
  } 

  .dropdown.dropdown-right .menu.d-block {
    display: block;
  }

  .dropdown.dropdown-right .menu.d-none {
    display: none;
  }


}

.navbar.header {
  .navbar-section {
    justify-content: flex-end;
  }
  .navbar-section.website-title {
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 100;
    padding-left: 1rem;
  }
}

.page-content {
  margin-top: $header-height;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

// This footer class is based on the Eviction-Free NYC CSS:
// https://github.com/JustFixNYC/eviction-free-nyc/blob/master/src/styles/Footer.scss
.Footer {
  background-color: $gray-light;
  color: $dark;
  padding: 48px 32px;
  display: flex;
  justify-content: space-between;

  align-items: flex-end;


    span {
      max-width: 400px;
    }

    img {
      max-width: 72px;
      margin-right: 32px;
    }


  .Footer_JustFix {

    text-align: right;

    img {
      max-width: 125px;
      position: relative;
      top: 8px;
      margin-left: 4px;
      margin-right: 0;
    }

  }

  @include for-phone-only() {
    display: block;
    text-align: center;

    img {
      max-width: 100px;
      display: block;
      margin: 0 auto 16px auto;
    }

    div {
      margin-top: 16px;
    }

    .Footer_JustFix {

      text-align: center;

      img {
        max-width: 125px;
        position: relative;
        top: 8px;
        margin: 0 auto;
      }

    }
  }

}
