@import "_vars.scss";
@import "_buttons.scss";
@import "_fonts.scss";
@import "node_modules/spectre.css/src/spectre.scss";
@import "node_modules/spectre.css/src/icons";
@import "_globals.scss";

// LANDING PAGE:

.homepage {
  .columns {
    min-height: 100vh;

    .column {
      &.evictors .column {
        position: relative;
        height: 0;
        border: 4px solid $primary;
        padding: 0 0 50% 0;

        @include for-tablet-landscape-up {
          padding: 0 0 33.3% 0;
        }

        @include for-desktop-up {
          padding: 0 0 25% 0;
        }

        &.bg-primary.text-right {
          font-size: 1.8rem;
          span {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        &.bg-error {
          text-decoration: none;

          .container {
            margin: 1.3rem 0.7rem;
          }

          .evictor-icon {
            position: absolute;
            top: 0;
            left: 0;
          }

          .eyebrow {
            font-size: 3.2rem;
            position: absolute;
          }

          .hover-label {
            opacity: 0;
            margin: 0.7rem;
          }

          &:hover {
            .evictor-icon,
            .eyebrow {
              transition: all 0.1s linear;
              opacity: 0;
            }
            .hover-label {
              transition: all 0.1s linear;
              opacity: 1;
            }
          }
        }
      }
    }

    &:not(:first-child) .column {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem;
    }
  }

  .eyebrow {
    margin-bottom: 1.3rem;
  }
}
