@import "_vars.scss";
@import "_buttons.scss";
@import "_fonts.scss";
@import "_animations.scss";
@import "node_modules/spectre.css/src/spectre.scss";
@import "node_modules/spectre.css/src/icons";
@import "_globals.scss";

// LANDING PAGE:

$evictor-border-width: 4px;

.homepage {
  .columns {
    min-height: 100vh;
    opacity: 1;

    @include for-small-desktop-down {
      padding: 1.5rem 0;
    }

    .column {
      .subtitle {
        margin-bottom: 0.7rem;
      }

      .btn {
        @include for-small-desktop-down {
          max-width: calc(100% - #{$menu-button-width});
        }
      }

      &.evictors .column {
        position: relative;
        height: 0;
        border: $evictor-border-width solid $primary;
        padding: 0 0 calc(50% - 2 *#{$evictor-border-width}) 0;

        @include for-small-desktop-up {
          padding: 0 0 calc(33.3% - 2 *#{$evictor-border-width}) 0;
        }

        @include for-desktop-up {
          padding: 0 0 calc(25% - 2 *#{$evictor-border-width}) 0;
        }

        &.bg-primary.text-right {
          font-size: 1.8rem;
          span {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        &.bg-error {
          text-decoration: none;

          .container {
            margin: 1.3rem 0.7rem;
            @include for-small-desktop-down {
              margin: 0.7rem 0.2rem;
            }
          }

          .evictor-icon {
            position: absolute;
            top: 0;
            left: 0;
          }

          .eyebrow {
            font-size: 3.2rem;
            position: absolute;

            @include for-small-desktop-down {
              font-size: 2rem;
            }
          }

          .hover-label {
            opacity: 0;
            margin: 0.7rem;
          }

          // CSS Transitions:
          .evictor-icon,
          .eyebrow {
            transition: all 0.3s linear;
            opacity: 1;
          }
          .hover-label {
            transition: all 0.3s linear;
            opacity: 0;
          }

          &:hover,
          &:focus {
            .evictor-icon,
            .eyebrow {
              transition: all 0.3s linear;
              opacity: 0;
            }
            @include for-small-desktop-up {
              .hover-label {
                transition: all 0.3s linear;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &:not(:first-child) .column {
      @include for-small-desktop-up {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
      }
    }
  }

  .eyebrow {
    margin-bottom: 1.3rem;
  }

  // Special styling for images we ONLY show on mobile devices:
  .background-cover-photo.show-lg {
    min-height: 350px;
    margin: 1rem 0;
  }

  img.logo {
    width: 100%;
    max-width: 300px;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
