@import "_vars.scss";

$title-banner-height: 50px;
$bottom-banner-height: 40px;

.map-title-banner {
  height: $title-banner-height;
  background-color: $carto-background;
  padding-top: 3px; // offset for Carto Map iFrame border

  .btn-default {
    opacity: 0.5;
    &.btn:hover {
      background: $gray-light;
      opacity: 1;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
  }

  h4 {
    font-weight: 300;

    .map-buttons-leadin {
      vertical-align: middle;
    }
  }
}

#map-iframe-loading,
#map-iframe {
  background-color: $carto-background;
}

.map-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100vh - #{$title-banner-height} - #{$bottom-banner-height});
  background-color: $carto-background;

  // make sure map doesn't overlap with Menu button on mobile:
  @include for-carto-map-minimized() {
    padding: 7px;
    height: calc(
      100vh - #{$title-banner-height} - #{$bottom-banner-height} - 150px
    );
  }
}

.map-bottom-banner {
  position: relative;
  z-index: 3;
  height: $bottom-banner-height;
  background-color: $carto-background;
  border-top: 2px solid $gray-light;
  font-weight: 300;
}

#map-context {
  position: relative;
  z-index: 2;
}
