@import "_vars.scss";

.navbar {
  position: fixed;
  z-index: 1000;
  right: 1.5rem;
  bottom: 1.5rem;

  .menu.d-flex {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: end;
    // Override default menu's vertical transformation:
    transform: none;
    .dropdown-toggle {
      position: fixed;
      background-color: transparent;
      border: none;
      top: 1.5rem;
      right: 1.5rem;
      z-index: 1000;
      width: 1.5rem;
      height: 1.5rem;
    }

    padding: 2.5rem 3.5rem 2.5rem 2.5rem;
    @include for-tablet-landscape-down {
      padding: 0.5rem;
    }

    a {
      color: $primary;
      padding: 0.25rem 1.25rem;
      &:not(:last-child) {
        border-bottom: 1px solid $gray-light;
      }

      &.active {
        text-decoration: none;
        list-style-type: disc;
        padding-left: 3.75rem;
      }

      &:focus {
        text-decoration: none;
        box-shadow: none;
        border: 1px dashed $primary;
      }
    }
  }
}

// This footer class is based on the Eviction-Free NYC CSS:
// https://github.com/JustFixNYC/eviction-free-nyc/blob/master/src/styles/Footer.scss
.Footer {
  background-color: $primary;
  color: $secondary;
  padding: 48px 32px;
  display: flex;
  justify-content: space-between;

  align-items: flex-end;

  .btn.btn-link {
    color: $secondary;
    &:hover {
      color: $gray;
    }
  }

  span {
    max-width: 400px;
  }

  img {
    max-width: 72px;
    margin-right: 32px;
  }

  .Footer_JustFix {
    text-align: right;

    img {
      max-width: 125px;
      position: relative;
      top: 8px;
      margin-left: 4px;
      margin-right: 0;
    }
  }

  @include for-phone-only() {
    display: block;
    text-align: center;

    img {
      max-width: 100px;
      display: block;
      margin: 0 auto 16px auto;
    }

    div {
      margin-top: 16px;
    }

    .Footer_JustFix {
      text-align: center;

      img {
        max-width: 125px;
        position: relative;
        top: 8px;
        margin: 0 auto;
      }
    }
  }
}
